In [2]:
#import dependencies
import pandas as pd

# 1991 CLEANED DF

In [3]:
# File to Load 
ninetyone_data = "data_csv/1991_table.csv"

# Read the data
ninetyone_df = pd.read_csv(ninetyone_data)

ninetyone_df.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,1,100.00,100.00
1,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,2,100.92,100.98
2,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,3,101.31,100.93
3,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,4,101.70,101.00
4,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,5,102.32,101.37

In [4]:
# see if any info is empty
ninetyone_df.count()

hpi_type      2962
hpi_flavor    2962
frequency     2962
level         2962
place_name    2962
place_id      2962
yr            2962
period        2962
index_nsa     2962
index_sa      1256
dtype: int64

In [5]:
# check to see total number of na values
ninetyone_df.isnull().sum()

hpi_type         0
hpi_flavor       0
frequency        0
level            0
place_name       0
place_id         0
yr               0
period           0
index_nsa        0
index_sa      1706
dtype: int64

In [9]:
# drop all of the na values
ninetyone_clean_df = ninetyone_df.dropna()
ninetyone_clean_df.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,1,100.00,100.00
1,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,2,100.92,100.98
2,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,3,101.31,100.93
3,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,4,101.70,101.00
4,traditional,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,purchase-only,5,102.32,101.37

In [10]:
#verify to see that there is no na values and all have same number of lines
ninetyone_clean_df.count()

hpi_type      1256
hpi_flavor    1256
frequency     1256
level         1256
place_name    1256
place_id      1256
yr            1256
period        1256
index_nsa     1256
index_sa      1256
dtype: int64

In [69]:
# exporting clean dataframe
ninetyone_clean_df.to_csv('data_csv/clean_1991_df.csv')

# LOADING CSV

In [56]:
# File to Load 
df1 = "data_csv/ninetytwo.csv"
df2 = "data_csv/ninetythree.csv"
df3 = "data_csv/ninetyfour.csv"
df4 = "data_csv/ninetyfive.csv"
df5 = "data_csv/ninetysix.csv"
df6 = "data_csv/ninetyseven.csv"
df7 = "data_csv/ninetyeight.csv"
df8 = "data_csv/ninetynine.csv"
df9 = "data_csv/twothousand.csv"
df10 = "data_csv/twothousandone.csv"
df11 = "data_csv/twothousandtwo.csv"
df12 = "data_csv/twothousandthree.csv"
df13 = "data_csv/twothousandfour.csv"
df14 = "data_csv/twothousandfive.csv"
df15 = "data_csv/twothousandsix.csv"
df16 = "data_csv/twothousandseven.csv"
df17 = "data_csv/twothousandeight.csv"
df18 = "data_csv/twothousandnine.csv"
df19 = "data_csv/twothousandten.csv"
df20 = "data_csv/twothousandeleven.csv"
df21 = "data_csv/twothousandtwelfth.csv"
df22 = "data_csv/twothousandthirteen.csv"
df23 = "data_csv/twothousandfourteen.csv"
df24 = "data_csv/twothousandfifthteen.csv"
df25 = "data_csv/twothousandsixteen.csv"
df26 = "data_csv/twothousandseventeen.csv"
df27 = "data_csv/twothousandeightteen.csv"
df28 = "data_csv/twothousandnineteen.csv"
df29 = "data_csv/twothousandtwenty.csv"
df30 = "data_csv/twothousandtwentyone.csv"
df31 = "data_csv/twothousandtwentytwo.csv"


# Read the data
#ninetytwo = pd.read_csv(ninetytwo)

df1 = pd.read_csv(df1)
df2 = pd.read_csv(df2)
df3 = pd.read_csv(df3)
df4 = pd.read_csv(df4)
df5 = pd.read_csv(df5)
df6 = pd.read_csv(df6)
df7 = pd.read_csv(df7)
df8 = pd.read_csv(df8)
df9 = pd.read_csv(df9)
df10 = pd.read_csv(df10)
df11 = pd.read_csv(df11)
df12 = pd.read_csv(df12)
df13 = pd.read_csv(df13)
df14 = pd.read_csv(df14)
df15 = pd.read_csv(df15)
df16 = pd.read_csv(df16)
df17 = pd.read_csv(df17)
df18 = pd.read_csv(df18)
df19 = pd.read_csv(df19)
df20 = pd.read_csv(df20)
df21 = pd.read_csv(df21)
df22 = pd.read_csv(df22)
df23 = pd.read_csv(df23)
df24 = pd.read_csv(df24)
df25 = pd.read_csv(df25)
df26 = pd.read_csv(df26)
df27 = pd.read_csv(df27)
df28 = pd.read_csv(df28)
df29 = pd.read_csv(df29)
df30 = pd.read_csv(df30)
df31 = pd.read_csv(df31)

In [57]:
# create df_list
df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13,
          df14,df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25,
          df26, df27, df28, df29, df30, df31]

In [58]:
#Creating for loop to drop all values with na
df = []
for dfs in df_list: 
    dfs.dropna(inplace= True)

In [65]:
#Check to see if nas are gone in random df
#df1.isnull().sum()
#df9.isnull().sum()
#df18.isnull().sum()
#df24.isnull().sum()
#df29.isnull().sum()
df31.isnull().sum()

hpi_type      0
hpi_flavor    0
frequency     0
level         0
place_name    0
place_id      0
yr            0
period        0
index_nsa     0
index_sa      0
dtype: int64

In [68]:
# exporting clean dataframe
#ninetyone_clean_df.to_csv('data_csv/ninetyone_clean_df.csv')
df1.to_csv('data_csv/clean_1992_df.csv')
df2.to_csv('data_csv/clean_1993_df.csv')
df3.to_csv('data_csv/clean_1994_df.csv')
df4.to_csv('data_csv/clean_1995_df.csv')
df5.to_csv('data_csv/clean_1996_df.csv')
df6.to_csv('data_csv/clean_1997_df.csv')
df7.to_csv('data_csv/clean_1998_df.csv')
df8.to_csv('data_csv/clean_1999_df.csv')
df9.to_csv('data_csv/clean_2000_df.csv')
df10.to_csv('data_csv/clean_2001_df.csv')
df11.to_csv('data_csv/clean_2002_df.csv')
df12.to_csv('data_csv/clean_2003_df.csv')
df13.to_csv('data_csv/clean_2004_df.csv')
df14.to_csv('data_csv/clean_2005_df.csv')
df15.to_csv('data_csv/clean_2006_df.csv')
df16.to_csv('data_csv/clean_2007_df.csv')
df17.to_csv('data_csv/clean_2008_df.csv')
df18.to_csv('data_csv/clean_2009_df.csv')
df19.to_csv('data_csv/clean_2010_df.csv')
df20.to_csv('data_csv/clean_2011_df.csv')
df21.to_csv('data_csv/clean_2012_df.csv')
df22.to_csv('data_csv/clean_2013_df.csv')
df23.to_csv('data_csv/clean_2014_df.csv')
df24.to_csv('data_csv/clean_2015_df.csv')
df25.to_csv('data_csv/clean_2016_df.csv')
df26.to_csv('data_csv/clean_2017_df.csv')
df27.to_csv('data_csv/clean_2018_df.csv')
df28.to_csv('data_csv/clean_2019_df.csv')
df29.to_csv('data_csv/clean_2020_df.csv')
df30.to_csv('data_csv/clean_2021_df.csv')
df31.to_csv('data_csv/clean_2022_df.csv')