# Set Up
In order to collect data from the Federal Reserve Economic Data (FRED), you need to create
an account in the website below, then go to the top right on My Account > API Keys and the on
the top left of the page, click Request API Key to get your API key.

Website: https://fredaccount.stlouisfed.org/apikeys

In [1]:
# In order to use the FRED API service, you need to install it in your coding environment
# as well as the pandas-datareader
# NOTE: you may need to restart the kernel in order to use this after installing
# Uncomment the lines below to install

# pip install fredapi
# !pip install pandas-datareader -q

# Collecting Data

Below we will import our dependencies and write a function that will retrieve the data we need for the analysis

In [2]:
# Import Dependencies
%matplotlib inline
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import numpy as np
from config import fredapi_key
import requests
import time
from datetime import datetime
import json

In [3]:
def fred_data(series, start_date, end_date):
  df = pdr.DataReader(series, 'fred', start_date, end_date)
  return df.reset_index()

# Finding Housing Market Indicators

Knowing what data to collect is important. Luckily FRED provides a lot of data from CPI, Interest Rates, Unemployment rates, minimum wage, etc.

## FRED Series Data

Below you will see what datasets we are using and why, as well as the units and frequency. The abbreviation in the beginning of the bulletin is how FRED id's the dataset

### US Economic Data

- UNRATE - Unemployment Rate\
    Units: Percent, Seasonally Adjusted\
    Frequency: Monthly
    
- CPIAUCSL - Consumer Price Index for All Urban Consumers: All Items in U.S. City Average\
    Units: Index 1982-1984=100, Seasonally Adjusted\
    Frequency: Monthly

### Housing-Specific Data

- COMPUTSA - New Privately-Owned Housing Units Completed: Total Units\
    Units: Thousands of Units\
    Frequency: Monthly
    
- MORTGAGE30US - 30-Year Fixed Rate Mortgage Average in the United States\
    Units: Percent, Not Seasonally Adjusted\
    Frequency: Weekly, Ending Thursday
        
- CSUSHPISA - S&P/Case-Shiller U.S. National Home Price Index\
    Units: Index Jan 2000=100, Seasonally Adjusted\
    Frequency: Monthly

# Making API Call and Creating DataFrame

In [4]:
series = ['CPIAUCSL', 'UNRATE', 'COMPUTSA', 'MORTGAGE30US', 'CSUSHPISA']
start_date = '1991-01-01'
end_date = '2022-01-01'

housing_data_df = fred_data(series, start_date, end_date)
housing_data_df.head(20)

         DATE  CPIAUCSL  UNRATE  COMPUTSA  MORTGAGE30US  CSUSHPISA
0  1991-01-01     134.7     6.4    1149.0           NaN     75.915
1  1991-01-04       NaN     NaN       NaN          9.56        NaN
2  1991-01-11       NaN     NaN       NaN          9.63        NaN
3  1991-01-18       NaN     NaN       NaN          9.75        NaN
4  1991-01-25       NaN     NaN       NaN          9.61        NaN
5  1991-02-01     134.8     6.6    1090.0          9.56     75.734
6  1991-02-08       NaN     NaN       NaN          9.36        NaN
7  1991-02-15       NaN     NaN       NaN          9.25        NaN
8  1991-02-22       NaN     NaN       NaN          9.29        NaN
9  1991-03-01     134.8     6.8    1176.0          9.40     75.569
10 1991-03-08       NaN     NaN       NaN          9.49        NaN
11 1991-03-15       NaN     NaN       NaN          9.50        NaN
12 1991-03-22       NaN     NaN       NaN          9.59        NaN
13 1991-03-29       NaN     NaN       NaN          9.52        NaN
14 1991-04-01     135.1     6.7    1093.0           NaN     75.565
15 1991-04-05       NaN     NaN       NaN          9.49        NaN
16 1991-04-12       NaN     NaN       NaN          9.48        NaN
17 1991-04-19       NaN     NaN       NaN          9.47        NaN
18 1991-04-26       NaN     NaN       NaN          9.53        NaN
19 1991-05-01     135.6     6.9    1070.0           NaN     75.765