In [12]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
import numpy as np
from sklearn.cluster import KMeans

In [13]:
# File to Load 
foreclosure_master = "data_csv/DRSFRMACBS.csv"
# Read the data
foreclosure_master_df = pd.read_csv(foreclosure_master)
foreclosure_master_df.tail()

           DATE  DRSFRMACBS
120  2021-01-01        2.66
121  2021-04-01        2.41
122  2021-07-01        2.30
123  2021-10-01        2.33
124  2022-01-01        2.13

In [14]:
foreclosure_master_df.count()

DATE          125
DRSFRMACBS    125
dtype: int64

In [15]:
#Finding aveave
ave_foreclosure_master_df = foreclosure_master_df.groupby(['DATE']).mean()["DRSFRMACBS"]
ave_foreclosure_master_df

DATE
1991-01-01    3.18
1991-04-01    3.07
1991-07-01    3.17
1991-10-01    3.30
1992-01-01    3.23
              ...
2021-01-01    2.66
2021-04-01    2.41
2021-07-01    2.30
2021-10-01    2.33
2022-01-01    2.13
Name: DRSFRMACBS, Length: 125, dtype: float64

In [19]:

foreclosure_master_df['DATE'] = pd.to_datetime(foreclosure_master_df.DATE)
foreclosure_master_df.groupby(foreclosure_master_df.DATE.dt.year)['DRSFRMACBS'].transform('mean')

0      3.1800
1      3.1800
2      3.1800
3      3.1800
4      2.9825
        ...
120    2.4250
121    2.4250
122    2.4250
123    2.4250
124    2.1300
Name: DRSFRMACBS, Length: 125, dtype: float64